// - var GoogleFonts = Lato  **Simply uncomment this var out and include your google font name such as Lato. If not needed leave commented out

- var PageTitle = 'Devtips Starter Kit | Jading Bro!'

- var MetaDesc = 'Change your meta desc per page'

- var jQuery = true

- var functions = true
